@import "tailwindcss";

:root {
    --background: #f1f3f5;
    --primary: #8ab2ee;
    --contrast: #dfe5ef;
    --font-montserrat: "montserrat", sans-serif;
    --font-bebas: "bebas", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --color-contrast: var(--contrast);
    --font-montserrat: var(--font-montserrat);
    --font-bebas: var(--font-bebas);
}

@layer components {
    * {
        -webkit-font-smoothing: antialiased;
        @apply font-montserrat focus:outline-none;
    }
    body {
        @apply bg-background text-black;
    }
    .h1 {
        @apply text-[40px] md:text-[100px] tracking-[0.01em] leading-[110%];
    }
    .h2 {
        @apply font-bebas text-[40px] tracking-[0.05em] leading-[110%];
    }
    .h3 {
        @apply font-bebas text-[32px] tracking-[0.05em] leading-[110%];
    }
    .h4 {
        @apply font-bebas  text-[40px] md:text-[64px] tracking-[0.05em] leading-[110%];
    }
    .large {
        @apply text-[18px] md:text-[20px] tracking-[0.01em];
    }
    p,
    .body {
        @apply text-[14px] md:text-[16px] tracking-[0.01em];
    }
    .button {
        @apply py-4 px-8 rounded-lg text-[14px] md:text-[16px] tracking-[0.01em] text-white;
    }
    .input {
        @apply block w-full px-10 py-5 rounded transition-all focus:outline-none bg-contrast disabled:cursor-not-allowed;
    }
}

@font-face {
    font-family: "bebas";
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
