@import "tailwindcss";

:root {
    --background: #f1f3f5;
    --primary: #8ab2ee;
    --font-montserrat: "montserrat", sans-serif;
    --font-bebas: "bebas", sans-serif;
}

@theme inline {
    --color-background: var(--background);
    --color-primary: var(--primary);
    --font-montserrat: var(--font-montserrat);
    --font-bebas: var(--font-bebas);
}

@layer components {
    * {
        -webkit-font-smoothing: antialiased;
        @apply font-montserrat focus:outline-none;
    }
    body {
        @apply bg-background;
    }
    .h1 {
        @apply text-[40px] md:text-[100px] tracking-[0.01em] leading-[110%];
    }
    .h2 {
        @apply font-bebas text-[40px] tracking-[0.05em] leading-[110%];
    }
    p,
    .body {
        @apply text-[14px] md:text-[16px] tracking-[0.01em];
    }
}

@font-face {
    font-family: "bebas";
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "montserrat";
    src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
